GOOGLE_ADS_DEVELOPER_TOKEN=
GOOGLE_ADS_CLIENT_ID=
GOOGLE_ADS_CLIENT_SECRET=
GOOGLE_ADS_REFRESH_TOKEN=
GOOGLE_ADS_CUSTOMER_ID=5233371293
GOOGLE_ADS_LOGIN_CUSTOMER_ID=3221449798

SHOPIFY_SHOP_DOMAIN=
SHOPIFY_ADMIN_ACCESS_TOKEN=

BOL_CLIENT_ID=
BOL_CLIENT_SECRET=
BOL_ADS_CLIENT_ID=
BOL_ADS_CLIENT_SECRET=
